@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
* {
    font-family: '';
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0;
}
body {
    background: url(images/pattern-bg.svg),url(images/pattern-quotes.svg),url(images/pattern-curve.svg);
    background-size: 42%, auto, auto; 
    background-repeat: no-repeat; 
    overflow-x: hidden;   
    background-position: center right, top 23% left 23%, bottom left;     
}
main { 
    min-height: 100vh;
}
section {
    position: absolute; 
    top: 0;
    left: 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10%; 
    transition: .2s;
}
.main-text {
    width: 550px;
} 
.main-text > p:first-of-type {
    color: hsl(240, 38%, 20%);
    font-size: 1.7rem; 
    line-height: 2.2rem;
    margin-bottom: 25px; 
}
.info {
    display: flex;
    gap: 10px;
    font-size: 1.2rem; 
}
.name {
    font-weight: 700;
    color: hsl(240, 38%, 20%);
}
.occupation {
    font-weight: 300;
    color: hsl(240, 18%, 77%); 
}
.profile-picture {
    width: 35%;
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%); 
    border-radius: 2px; 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);    
    cursor: pointer; 
    transition: .2s; 
    z-index: -1;  
}
.button-section {
    position: absolute; 
    background: rgb(255, 255, 255);  
    padding: 15px 15px;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    top: 84.5%;
    right: 35%;
    display: flex;
    align-items: center;  
    gap: 20px;
    z-index: 10;  
}
button {
    background: transparent;
    border: none; 
    display: flex;
    align-items: center; 
    cursor: pointer; 
}

@media screen and (max-width: 970px) {
    body {
        background: url(images/pattern-bg.svg),url(images/pattern-quotes.svg),url(images/pattern-curve.svg);
        background-size: 42%, auto, auto; 
        background-repeat: no-repeat; 
        overflow-x: hidden;   
        background-position: center right, top 26% left 10%, bottom left;     
    }
    section {
        padding: 0 4%;
    }
    .main-text {
        width: 450px; 
    } 
    .main-text > p:first-of-type {
        font-size: 1.2rem; 
        line-height: 1.4rem;
        margin-bottom: 25px; 
    }
    .info {
        font-size: .9rem;   
    }
    .profile-picture {
        width: 35%;
        right: 5%;
        top: 45%;
    }
    .button-section {
        padding: 10px;
        top: 67.5%; 
        right: 27.5%;   
    }
    @media screen and (max-width: 650px) {
        body {
            background: url(images/pattern-bg.svg),url(images/pattern-quotes.svg),url(images/pattern-curve.svg);
            background-size: 90%, 15%, auto;  
            background-repeat: no-repeat; 
            overflow-x: hidden;            
            background-position: center top 15%, top 60% left 50%, bottom left;     
        }
        main { 
            min-height: 100vh; 
            width: 100%;  
        }
        section {
            flex-direction: column;  
            align-items: center;  
            padding: 10% 5%;       
            gap: 10%;  
            width: 100%; 
        }
        .main-text { 
            width: 100%;
            align-items: center;
            text-align: center; 
        }
        .main-text > p:first-of-type {
            margin-bottom: 20px; 
        } 
        .info {
            flex-direction: column;
            align-items: center;
        }
        .profile-picture {
            position: static;
            width: 80%; 
            transform: none;
        } 
        .button-section {
            top: 50%;           
            right: 50%;
            transform: translate(50%);
            padding: 8px 5px;
        }
    }
}